#header {
    border-bottom: 1px dotted;
}
#body {
    margin: 25px;
}
.resumehead {
    border: 1px solid;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #212529;
    color: rgb(255, 255, 255);
}
.carousel-caption {
    background-color: rgba(51, 50, 50, 0.5);
}
.resumearea {
    margin: 20px;
}
.p-announcement {
    color: rgb(0, 0, 0);
    font-size: xxx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(171, 183, 184);
}
