body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align:center;
    margin-bottom: 20px;;
  }

  #test-area {
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }
  
  button {
    padding: 10px;
    margin: 10px;
    font-size: 1em;
  }
  
  #results {
    margin-top: 20px;
  }
  